/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */

/* body{
    font-family: 'Anuphan', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
} */

/* .header{
    height: 100%;

} */

.headerNav{
    height:10%;
    background-color: rgb(53,58,64);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding:1rem 4rem; */
}


.contenedorLogo{
    color: white;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.contenedorLogo a{
    /* display: inline-block; */
    width: 40%;
}
.contenedorLogo img{
    width: 100%;
    /* object-fit: cover; */
}
/* .contenedorLogo h2{
    color: white;
} */

.navegacion{
    display: flex;
    align-items: center;
    margin-right: 50px;
    /* justify-content: center;
    width: 50%;
    font-size: small; */
}

.listaNav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.linkNav{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 1.2rem;
    /* padding: 10%; */
    font-size: small;
    height: 10%;
}

.listaNav [href="./pages/comprar_tickets.html"] {
    color: darkgreen;
}
.padreCards{
    width: 80%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    /* flex-wrap: wrap; */
    height: 80vh;
    column-gap: 4%;
}
.card{
    /* border: 1px solid lightgrey; */
    /* border-radius: 4% 4% 0px 0px; */
    width:  350px;
    height: 55%;

}

.cardBody{
    margin-bottom: 20px;
    border-radius: 4%;
    height:49%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding:0 1rem;
}
.cardTags{
    display:flex;
}

.valor200{
    font-size: 30px;
}

.formulario-tickets{
    padding-top: 5px;
    margin: 0 auto;
    width: 50%;
}

.total-pagar{
    background-color: #cee4ee !important;
}

.container-btn-tickets{
    align-items: center !important;
}

.btn-ticket{
    width: 48.3%;
    border: none !important;
    background-color: #7fc33b !important;
}

.footer{
    display: flex;
    background:linear-gradient( to right, #1d3947,#1d4962, #1e5372) ;
    /* height: 10vh; */
    height: 80px;
}
.contenedorFooter{
    /* width:70%; */
    /* height: 100%; */
    margin:auto;
    /* justify-content: space-between; */
    align-items: center;
}
.contenedorFooter a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    /* padding: 0 auto; */
    margin-inline: 20px;
}